.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# 必要的資源文件
!media/**
!dist/**
!images/**

# 必要的文件
!LICENSE
!NOTICE
!README.md
!CHANGELOG.md
!package.json

!node_modules/blockly/**
!node_modules/@blockly/**

# 排除額外開發檔案
**/.git/**
**/.github/**
**/test/**
**/tests/**
**/.editorconfig
**/.prettierrc
**/*.test.js
